

/* Curious, I see!
   There are a few easter eggs hidden in this document that will
   tell you a bit about me and my interests, happy hunting!
*/


@media screen and (min-width: 1800px) {
    #slogan { font-size: 350%;}
    #intro { font-size: 150%;}
    #text { font-size: 110%;}
    #contact { font-size: 110%; margin-top: 65vh;}
    .logo { height: 30px; }
    .leftColumn {font-size: 110%; }
    .rightColumn { font-size: 110%; }
    #image { width: 40vw; }
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    #slogan { font-size: 275%;}
    #intro { font-size: 110%;}
    #text { font-size: 90%;}
    #contact { font-size: 90%; margin-top: 61vh;}
    .logo { height: 20px; }
    .leftColumn {font-size: 90%; }
    .rightColumn { font-size: 90%; }
    #image { width: 40vw; }
}

@media screen and (min-width: 1000px) and (max-width: 1400px){
    #slogan { font-size: 200%;}
    #intro { font-size: 100%;}
    #text { font-size: 80%;}
    #contact { font-size: 80%; margin-top: 65vh;}
    .logo { height: 20px; }
    .leftColumn {font-size: 80%; }
    .rightColumn { font-size: 80%; }
    #image { width: 50vw; }
}


html, body {
    margin: 0px;
    height: 100%;
    background-color: #c3d2d5;
    overflow: hidden;
    outline:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu {
    display: block;
    width: 10%;
    height: 80%;
    position: fixed;
    z-index: 999;
    margin-top: 10vh;
}

a:link, a:visited {
    text-decoration: none;
    outline: none;
}

.navButton {
    margin-top: 20%;
    margin-left: 60%;
    display: block;
    color: white;
    font-size: 130%;
    font-family: "Calibri";
}

#filter {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
    margin-left: 100%;
    opacity: 0.8;
}



/*_____________________________Home_________________________*/

#image {
    height: 100vh;
    position: fixed;
    background-image: url("../lib/Background.jpg");
    background-size: cover;
}



/*_____________________________ABOUT________________________*/

#about {
    display: none;
    width: 67.5%;
    height: 100%;
    position: fixed;
    background-color: #fffffa;
    margin-left: 32.5%;
    z-index: 4;
}

.aboutText {
    font-family: "Calibri Light";
    color: #1c1c1b;
    background-color: #fffffa;
}

#slogan {
    position: absolute;
    margin-top: 8vh;
    width: 100%;
    min-height: 8%;
    background-color: #fffffa;
    text-align: center;
    font-family: Georgia;
    color: #1c1c1b;
    z-index: 20;
}

#intro {
    position: absolute;
    margin-top: 25vh;
    width: 100%;
    background-color: #fffffa;
    text-align: center;
    z-index: 19;
}

#text {
    position: absolute;
    margin-top: 42vh;
    width: 100%;
    background-color: #fffffa;
    text-align: center;
    z-index: 18;
}

#cvButton:hover {
    background-color: #1c1c1b;
    color: #fffffa;
}

#cvButton {
    margin-left: 39%;
    margin-top: 1vh;
    width: 21%;
    height: 3%;
    border: 1px solid #1c1c1b;
    border-radius: 20px;
    text-align: center;
    line-height: 150%;
    font-size: 110%;
}

#contact {
    position: absolute;
    width: 100%;
    background-color: #fffffa;
    text-align: center;
    z-index: 17;
}

#LinkedIn { margin-left: 3%; }

#cv {
    width: 32%;
    height: 100%;
    position: fixed;
    background-color: #fffffa;
    border-left: 1px solid #1c1c1b;
    margin-left: 100%;
    z-index: 21;
}

#cvHeader {
    position: absolute;
    margin-top: 5vh;
    width: 100%;
    min-height: 5%;
    text-align: center;
    font-size: 200%;
    z-index: 30;
}

#educationHeader {
    text-align: center;
    font-size: 150%;
}

#education {
    margin-top: 15vh;
    z-index: 29;
    height: 10%;
    background-color: #fffffa;
    position: relative;
}

#work {
    z-index: 28;
    margin-top: 20vh;
    background-color: #fffffa;
    position: relative;
}

#workHeader {
    text-align: center;
    font-size: 150%;
}

#workL {}

#workR {}

#languages {
    margin-top: 15vh;
    z-index: 24;
    background-color: #fffffa;
    position: relative;
}

#languagesHeader {
    text-align: center;
    font-size: 150%;
}

.leftColumn {
    position: absolute;
    margin-left: 5%;
    width: 25%;
}

.rightColumn {
    position: absolute;
    margin-left: 35%;
    width: 55%;
}

/*_____________________________WORK_________________________*/

/*TODO change margins, z-index */
/*TODO and background color */

.projectPanel {
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: white;
    z-index: 5;
    margin-top: 100%;
}

#workA { margin-left: 25%;}

#workB { margin-left: 50%;}

#workC { margin-left: 75%;}

#workD { margin-left: 100%; }

.workImage {
    opacity: 1;
    width: 100%;
    height: 100vh;
}

.workImage:hover {
    opacity: 0.1;
}

.workTitle {
    width: 100%;
    position: absolute;
    margin-top: 57%;
    z-index: 8;
    color: black;
    background-color: transparent;
    text-align: center;
    font-size: 200%;
    display: none;
    font-family: "Calibri";
}

.workSubTitle {
    width: 100%;
    position: absolute;
    margin-top: 77%;
    z-index: 9;
    color: black;
    background-color: transparent;
    text-align: center;
    font-size: 130%;
    display: none;
    font-family: "Calibri";
}