html, body {
    margin: 0px;
    height: 100%;
    background-color: black;
    /*overflow: hidden; */
    outline:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#image {
    position: fixed;
    margin-left: -10%;
}

#headerImage {
    width: 100%;
    z-index: 1;
}

#menu {
    display: block;
    width: 10%;
    height: 80%;
    position: fixed;
    z-index: 999;
    margin-top: 10%;

}

#menu a:link, a:visited {
    text-decoration: none;
}

.navButton {
    margin-top: 20%;
    margin-left: 60%;
    display: block;
    color: white;

}

#ABOUT {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3;
    margin-left: 100%;
    opacity: 0.8;
}

#aboutImage {
    display: none;
    /*32.5 for golden ratio*/
    width: 50%;
    height: 100%;
    position: fixed;
    background-color: white;
    /*67.5 for golden ratio*/
    margin-left: 50%;
    z-index: 4;
}





