/*TODO ADD MEDIA QUERY FOR TABLET*/

html, body {
    margin: 0px;
    height: 100%;
    background-color: #c3d2d5;
    outline:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*_____________________________Home_________________________*/

#menu {
    display: none;
}

#image {
    width: 100vw;
    height: 78vh;
    background-image: url("./lib/Background.jpg");
    background-size: cover;
    margin-bottom: -2.5vh;
}



/*_____________________________ABOUT________________________*/

#about {
    background-color: #fffffa;
    height: auto;
    text-align: left;
    padding: 3vw;
}

.aboutText {
    font-family: "Calibri Light";
    color: #1c1c1b;
    background-color: #fffffa;
}

#text {
    font-size: 80%;
}

#slogan {
    font-size: 190%;
    font-family: thryromanes;
}

#cvButton {
    text-align: center;
    font-size: 120%;
}

#contact {
    font-size: 80%;
    text-align: center;
}

.logo {
    height: 20px;
}

#cv { display: none; }
#cvHeader { display: none; }
#education { display: none; }
#work { display: none; }
#languages { display: none; }



/*_____________________________WORK_________________________*/

.projectPanel {
    background-color: #fffffa;
    font-family: Calibri light;
    height: 100vh;
    margin-top: -2.5vh;
    padding-left: 5%;
    padding-right: 5%;
    border-top: solid black 1px;
    text-align: center;
}

.workTitle {
    font-family: thryromanes;
    font-size: 140%;
}

.workSubTitle {
    font-size: 100%;
}

.workText {
    font-size: 80%;
}

.workImage {
    width: 90%;
    margin-left: 5%;
    margin-top: 10vh;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;   
}

#workAImage { background-image: url("lib/languagemap_small.jpg"); }
#workBImage { background-image: url("lib/avaserala_small.jpg"); }
#workCImage { background-image: url("lib/PlanetLabs_small.jpg"); }
