/*TODO ADD MEDIA QUERY FOR TABLET*/

html, body {
    margin: 0px;
    height: 100%;
    background-color: #c3d2d5;
    outline:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*_____________________________Home_________________________*/

#menu {
    display: none;
}

#image {
    width: 100vw;
    height: 78vh;
    background-image: url("./lib/Background.jpg");
    background-size: cover;
    margin-bottom: -2.5vh;
}



/*_____________________________ABOUT________________________*/

#about {
    background-color: #fffffa;
    height: auto;
    text-align: center;
    padding: 3vw;
}

.aboutText {
    font-family: "Calibri Light";
    color: #1c1c1b;
    background-color: #fffffa;
}

#slogan {
    font-size: 150%;
    font-family: Georgia;
}

#cv { display: none; }
#cvHeader { display: none; }
#education { display: none; }
#work { display: none; }
#languages { display: none; }



/*_____________________________WORK_________________________*/

.projectPanel {
    background-color: #fffffa;
    font-family: Calibri;
    height: 20vh;
    margin-top: -2.5vh;
    border-top: solid black 1px;
    text-align: center;
}
