

/* Curious, I see!
   There are a few easter eggs hidden in this document that will
   tell you a bit about me and my interests, happy hunting!
*/


@media screen and (min-width: 1800px) {
    .navButton { font-size: 160%; }

    #slogan { font-size: 350%;}
    #intro { font-size: 150%;}
    #text { font-size: 110%;}
    #contact { font-size: 110%; margin-top: 52%;}
    .logo { height: 30px; }
    .leftColumn {font-size: 110%; }
    .rightColumn { font-size: 110%; }

    /* #image { width: 40vw; } */

    .workTitle { font-size: 250%; margin-top: 30%;}
    .workSubTitle { font-size: 120%; margin-top: 50%;}
    .workText { font-size: 90%; margin-top: 70%;}
    .workImage { margin-top: 95%; }
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .navButton { font-size: 120%; }

    #slogan { font-size: 275%;}
    #intro { font-size: 110%;}
    #text { font-size: 90%;}
    #contact { font-size: 90%; margin-top: 61vh;}
    .logo { height: 20px; }
    .leftColumn {font-size: 90%; }
    .rightColumn { font-size: 90%; }

    /* #image { width: 40vw; } */

    .workTitle { font-size: 190%; margin-top: 22vh;}
    .workSubTitle { font-size: 120%; margin-top: 32vh;}
    .workText { font-size: 90%; margin-top: 42vh; }
    .workImage { margin-top: 65vh; }
}

@media screen and (min-width: 900px) and (max-width: 1400px){
    .navButton { font-size: 120%; }

    #slogan { font-size: 200%;}
    #intro { font-size: 100%;}
    #text { font-size: 80%;}
    #contact { font-size: 80%; margin-top: 65vh;}
    .logo { height: 20px; }
    .leftColumn {font-size: 80%; }
    .rightColumn { font-size: 80%; }

    /* #image { width: 50vw; } */

    .workTitle { font-size: 150%; margin-top: 15vh;}
    .workSubTitle { font-size: 100%; margin-top: 22vh;}
    .workText { font-size: 90%; margin-top: 35vh;}
    .workImage { margin-top: 62vh; }
}

@font-face {
    font-family: thryromanes;
    src: url(./lib/thryromanes.ttf);
}

html, body {
    margin: 0px;
    height: 100%;
    background-color: #c3d2d5;
    overflow: hidden;
    outline:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu {
    display: block;
    margin-left: 1%;
    width: 7%;
    height: 21%;
    position: fixed;
    z-index: 999;
    background-color: #fffffa;
    padding-top: 8%;
}

.menuImage {
    width: 80%;
    margin-left: -10%;
}

.navButton:link, a:visited {
    text-decoration: none;
    outline: none;
}

.navButton:hover {
    text-decoration: underline black;
}

.navButton {
    margin-top: 15%;
    margin-left: 20%;
    display: block;
    color: black;
}



/*_____________________________Home_________________________*/

#image {
    height: 100%;
    position: fixed;
    background-image: url("./lib/painting_01.jpeg");
    background-size: cover;
    width: 100%;
}



/*_____________________________ABOUT________________________*/

#about {
    margin-top: -100%;
    width: 67.5%;
    height: 110%;
    position: fixed;
    background-color: #fffffa;
    margin-left: 32.5%;
    z-index: 4;
}

.aboutText {
    font-family: "Calibri Light";
    color: #1c1c1b;
    background-color: #fffffa;
}

#slogan {
    position: absolute;
    margin-top: 8%;
    width: 100%;
    min-height: 8%;
    background-color: #fffffa;
    text-align: center;
    color: #1c1c1b;
    z-index: 20;
}

#intro {
    position: absolute;
    margin-top: 22%;
    width: 100%;
    background-color: #fffffa;
    text-align: center;
    z-index: 19;
}

#text {
    position: absolute;
    margin-top: 35%;
    width: 100%;
    background-color: #fffffa;
    text-align: center;
    z-index: 18;
}

#cvButton:hover {
    background-color: #1c1c1b;
    color: #fffffa;
    text-decoration: underline #1c1c1b;
}


#cvButton {
    margin-left: 40%;
    margin-top: 2%;
    width: 20%;
    height: 3%;
    border: 1px solid #1c1c1b;
    border-radius: 20px;
    text-align: center;
    line-height: 150%;
    font-size: 110%;
    text-decoration: underline black;
}

#contact {
    position: absolute;
    width: 100%;
    background-color: #fffffa;
    text-align: center;
    z-index: 17;
}

#LinkedIn { margin-left: 3%; }

#cv {
    width: 32%;
    height: 100%;
    position: fixed;
    background-color: #fffffa;
    border-left: 1px solid #1c1c1b;
    margin-left: 100%;
    z-index: 21;
}
.cvLink {
    text-decoration: underline;
    color: #1c1c1b;
}

.cvLink:hover { text-decoration: underline #1c1c1b; }

#educationHeader {
    text-align: center;
    font-size: 150%;
}

#education {
    margin-top: 5%;
    z-index: 29;
    height: 10%;
    background-color: #fffffa;
    position: relative;
}

#work {
    z-index: 28;
    margin-top: 30%;
    background-color: #fffffa;
    position: relative;
}

#workHeader {
    text-align: center;
    font-size: 150%;
}

#workL {}

#workR {}

#languages {
    margin-top: 30%;
    z-index: 24;
    background-color: #fffffa;
    position: relative;
}

#languagesHeader {
    text-align: center;
    font-size: 150%;
}

.leftColumn {
    position: absolute;
    margin-left: 5%;
    width: 25%;
}

.rightColumn {
    position: absolute;
    margin-left: 35%;
    width: 55%;
}



/*_____________________________WORK_________________________*/

#workPanel {
    position: fixed;
    width: 67.5%;
    height: 100%;
    background-color: #fffffa;
    z-index: 5;
    margin-top: 100%;
    margin-left: 32.5%;
}

.projectPanel {
    position: fixed;
    width: 22.5%;
    height: 95%;
    margin-top: 5%;
    background-color: #fffffa;
}

.projectPanel p:hover { text-decoration: underline #1c1c1b; }

#workB { margin-left: 22.5%;}

#workC { margin-left: 45%;}

.workTitle {
    width: 100%;
    padding-bottom: 2%;
    position: absolute;
    margin-left: 20%;
    z-index: 20;
    color: #1c1c1b;
    background-color: #fffffa;
    text-align: left;
    display: none;
}

.workSubTitle {
    width: 100%;
    position: absolute;
    margin-left: 20%;
    z-index: 19;
    color: #1c1c1b;
    background-color: #fffffa;
    text-align: left;
    display: none;
    font-family: "Calibri Light";
}

.workText {
    width: 65%;
    position: absolute;
    margin-left: 20%;
    z-index: 18;
    color: #1c1c1b;
    background-color: #fffffa;
    text-align: left;
    display: none;
    font-family: "Calibri Light";
}

.workImage {
    width: 60%;
    margin-left: 20%;
    height: 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: none;
    z-index: 17;
}

#workAImage { background-image: url("lib/languagemap_small.jpg"); }
#workBImage { background-image: url("lib/avaserala_small.jpg"); }
#workCImage { background-image: url("lib/PlanetLabs_small.jpg"); }